@media (min-width: 1280px) {
    .x .c1-e {
        font-size: 16px
    }
}

@media (min-width: 1280px) {
    .x .c1-l {
        width: 320px
    }
}

@media (min-width: 1280px) {
    .x .c1-1g {
        display: block
    }
}

@media (min-width: 1280px) {
    .x .c1-1h {
        max-width: unset !important
    }
}

@media (min-width: 1280px) {
    .x .c1-1i {
        position: fixed
    }
}

@media (min-width: 1280px) {
    .x .c1-1u {
        width: 1160px
    }
}

@media (min-width: 1280px) {
    .x .c1-29 {
        display: unset
    }
}

@media (min-width: 1280px) {
    .x .c1-2a {
        padding-left: 80px
    }
}

@media (min-width: 1280px) {
    .x .c1-2b {
        padding-right: 80px
    }
}

@media (min-width: 1280px) {
    .x .c1-2c {
        flex-basis: 10%
    }
}

@media (min-width: 1280px) {
    .x .c1-2d {
        padding-bottom: 100px
    }
}

@media (min-width: 1280px) {
    .x .c1-35 {
        font-size: 22px
    }
}

@media (min-width: 1280px) {
    .x .c1-39 {
        flex-basis: 80%
    }
}

@media (min-width: 1280px) {
    .x .c1-3a {
        min-height: 0px
    }
}

@media (min-width: 1280px) {
    .x .c1-3i {
        padding-bottom: 80px
    }
}

@media (min-width: 1280px) {
    .x .c1-3w {
        padding-top: 215px
    }
}

@media (min-width: 1280px) {
    .x .c1-4b {
        margin-top: 40px
    }
}

@media (min-width: 1280px) {
    .x .c1-4c>span {
        margin-left: 10px
    }
}

@media (min-width: 1280px) {
    .x .c1-4d> :first-child {
        margin-left: 0px
    }
}

@media (min-width: 1280px) {
    .x .c1-4e::after {
        content: ""
    }
}

@media (min-width: 1280px) {
    .x .c1-4f::after {
        position: absolute
    }
}

@media (min-width: 1280px) {
    .x .c1-4g::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 100%)
    }
}

@media (min-width: 1280px) {
    .x .c1-4h::after {
        bottom: 100%
    }
}

@media (min-width: 1280px) {
    .x .c1-4i::after {
        height: 80px
    }
}

@media (min-width: 1280px) {
    .x .c1-4j::after {
        width: 240px
    }
}

@media (min-width: 1280px) {
    .x .c1-4k::after {
        margin-bottom: 40px
    }
}

@media (min-width: 1280px) {
    .x .c1-57 {
        display: none
    }
}

@media (min-width: 1280px) {
    .x .c1-6r {
        font-size: 62px
    }
}

@media (min-width: 1280px) {
    .x .c1-72 {
        font-size: 32px
    }
}

@media (min-width: 1280px) {
    .x .c1-7w {
        font-size: 14px
    }
}

@media (min-width: 1280px) {
    .x .c1-9m {
        font-size: 12px
    }
}