@media (min-width: 1024px) {
    .x .c1-d {
        font-size: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-f {
        display: flex
    }
}

@media (min-width: 1024px) {
    .x .c1-g {
        margin-top: unset
    }
}

@media (min-width: 1024px) {
    .x .c1-h {
        margin-right: unset
    }
}

@media (min-width: 1024px) {
    .x .c1-i {
        margin-bottom: unset
    }
}

@media (min-width: 1024px) {
    .x .c1-j {
        margin-left: unset
    }
}

@media (min-width: 1024px) {
    .x .c1-m {
        position: relative
    }
}

@media (min-width: 1024px) {
    .x .c1-n {
        overflow-y: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-o {
        overflow-x: hidden
    }
}

@media (min-width: 1024px) {
    .x .c1-p {
        height: 100vh
    }
}

@media (min-width: 1024px) {
    .x .c1-q {
        flex-grow: 1
    }
}

@media (min-width: 1024px) {
    .x .c1-10 {
        min-height: 100vh
    }
}

@media (min-width: 1024px) {
    .x .c1-1e {
        display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-1f {
        position: fixed
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-1r {
        padding-bottom: 72px
    }
}

@media (min-width: 1024px) {
    .x .c1-1t {
        width: 984px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-26 {
        display: block
    }
}

@media (min-width: 1024px) {
    .x .c1-34 {
        font-size: 22px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-38 {
        align-items: center
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-3u {
        padding-top: 72px
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-3v {
        justify-content: center
    }
}

@media (min-width: 1024px) {
    .x .c1-4a> :first-child {
        margin-left: 24px
    }
}

@media (min-width: 1024px) {
    .x .c1-4y {
        height: 100%
    }
}

@media (min-width: 1024px) {
    .x .c1-4z {
        min-height: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-50 {
        align-items: center
    }
}

@media (min-width: 1024px) {
    .x .c1-54 {
        background-color: transparent
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .x .c1-5d:hover {
        color: rgb(247, 247, 247)
    }
}

@media (min-width: 1024px) {
    .x .c1-61 {
        display: none
    }
}

@media (min-width: 1024px) {
    .x .c1-6g {
        max-width: 66%
    }
}

@media (min-width: 1024px) {
    .x .c1-6h {
        margin-left: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6i {
        margin-right: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-6j {
        flex-direction: column
    }
}

@media (min-width: 1024px) {
    .x .c1-6k {
        justify-content: space-around
    }
}

@media (min-width: 1024px) {
    .x .c1-6n {
        padding-top: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-6o {
        padding-bottom: 56px
    }
}

@media (min-width: 1024px) {
    .x .c1-6q {
        font-size: 50px
    }
}

@media (min-width: 1024px) {
    .x .c1-71 {
        font-size: 28px
    }
}

@media (min-width: 1024px) {
    .x .c1-7e {
        min-width: 0px
    }
}

@media (min-width: 1024px) {
    .x .c1-7s {
        text-align: center
    }
}

@media (min-width: 1024px) {
    .x .c1-7t {
        margin-left: auto
    }
}

@media (min-width: 1024px) {
    .x .c1-7u {
        margin-bottom: 0
    }
}

@media (min-width: 1024px) {
    .x .c1-7v {
        font-size: 14px
    }
}

@media (min-width: 1024px) {
    .x .c1-82 {
        margin-left: 16.666666666666664%
    }
}

@media (min-width: 1024px) {
    .x .c1-83 {
        flex-basis: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-84 {
        max-width: 66.66666666666666%
    }
}

@media (min-width: 1024px) {
    .x .c1-88 {
        padding-top: 16px
    }
}

@media (min-width: 1024px) {
    .x .c1-8x {
        flex-basis: 33.33333333333333%
    }
}

@media (min-width: 1024px) {
    .x .c1-8y {
        max-width: 33.33333333333333%
    }
}

@media (min-width: 1024px) {
    .x .c1-9l {
        font-size: 12px
    }
}

@media (min-width: 1024px) {
    .x .c1-9q {
        flex-basis: 0%
    }
}

@media (min-width: 1024px) {
    .x .c1-9r {
        max-width: none
    }
}

@media (min-width: 1024px) {
    .x .c1-9s {
        text-align: left
    }
}

@media (min-width: 1024px) {
    .x .c1-9u {
        text-align: right
    }
}

@media (min-width: 1024px) {
    .x .c1-9v {
        margin-top: 0
    }
}