.x .c1-1 {
    letter-spacing: normal
}

.x .c1-2 {
    text-transform: none
}

.x .c1-3 {
    background-color: rgb(255, 255, 255)
}

.x .c1-4 {
    width: 100%
}

.x .c1-5>div {
    position: relative
}

.x .c1-6>div {
    overflow: hidden
}

.x .c1-7>div {
    margin-top: auto
}

.x .c1-8>div {
    margin-right: auto
}

.x .c1-9>div {
    margin-bottom: auto
}

.x .c1-a>div {
    margin-left: auto
}

.x .c1-b {
    font-family: Josefin Sans, '中易黑体', SimHei, sans-serif
}

.x .c1-c {
    font-size: 16px
}

.x .c1-k {
    flex-shrink: 0
}

.x .c1-r {
    z-index: 1001
}

.x .c1-s {
    background-color: rgb(22, 22, 22)
}

.x .c1-t {
    padding-top: 72px
}

.x .c1-u {
    padding-bottom: 72px
}

.x .c1-v {
    position: relative
}

.x .c1-w {
    display: flex
}

.x .c1-x {
    padding: 0px !important
}

.x .c1-11 {
    flex-direction: column
}

.x .c1-12 {
    flex-grow: 1
}

.x .c1-13 {
    min-width: 0px
}

.x .c1-14 {
    pointer-events: auto
}

.x .c1-15 {
    display: none
}

.x .c1-16 {
    top: 0px
}

.x .c1-17 {
    left: 0px
}

.x .c1-18 {
    height: 100vh
}

.x .c1-19 {
    width: 320px
}

.x .c1-1a {
    max-width: 0px
}

.x .c1-1b {
    z-index: 10002
}

.x .c1-1c {
    transition: max-width 0.4s ease-in-out
}

.x .c1-1d {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2)
}

.x .c1-1j {
    margin-left: auto
}

.x .c1-1k {
    margin-right: auto
}

.x .c1-1l {
    padding-left: 0px
}

.x .c1-1m {
    padding-right: 0px
}

.x .c1-1n {
    max-width: 100%
}

.x .c1-1o {
    justify-content: center
}

.x .c1-1p {
    width: inherit
}

.x .c1-1q {
    height: 100%
}

.x .c1-1w {
    color: rgb(94, 94, 94)
}

.x .c1-1x {
    cursor: pointer
}

.x .c1-1y {
    line-height: 1.3em
}

.x .c1-1z {
    font-style: normal
}

.x .c1-20 {
    position: absolute
}

.x .c1-21 {
    top: 40px
}

.x .c1-22 {
    left: 40px
}

.x .c1-23 {
    height: 30px
}

.x .c1-24 {
    width: auto
}

.x .c1-25:hover {
    color: rgb(111, 111, 111)
}

.x .c1-27 {
    flex-basis: 0px
}

.x .c1-28 {
    word-break: break-word
}

.x .c1-2e {
    display: inline-block
}

.x .c1-2f {
    font-family: Josefin Slab, '中易宋体', SimSun, '新宋体', NSimSun, serif
}

.x .c1-2g {
    text-transform: inherit
}

.x .c1-2h {
    font-weight: 400
}

.x .c1-2i {
    color: rgb(111, 111, 111)
}

.x .c1-2j {
    text-decoration: none
}

.x .c1-2k {
    word-wrap: break-word
}

.x .c1-2l {
    overflow-wrap: break-word
}

.x .c1-2m {
    display: inline
}

.x .c1-2n {
    border-top: 0px
}

.x .c1-2o {
    border-right: 0px
}

.x .c1-2p {
    border-bottom: 0px
}

.x .c1-2q {
    border-left: 0px
}

.x .c1-2r {
    letter-spacing: 2px
}

.x .c1-2s {
    overflow-wrap: normal
}

.x .c1-2t {
    line-height: 1.2
}

.x .c1-2u {
    font-size: 20px
}

.x .c1-2v {
    color: rgb(27, 27, 27)
}

.x .c1-2w {
    font-weight: 600
}

.x .c1-2x {
    margin-left: 0
}

.x .c1-2y {
    margin-right: 0
}

.x .c1-2z {
    margin-top: 0
}

.x .c1-30 {
    margin-bottom: 0
}

.x .c1-31 {
    word-break: normal
}

.x .c1-36 {
    align-items: flex-start
}

.x .c1-37 {
    flex-basis: 100%
}

.x .c1-3b {
    max-height: 100%
}

.x .c1-3c {
    overflow-y: hidden
}

.x .c1-3d:hover {
    overflow-y: auto
}

.x .c1-3e {
    -webkit-margin-before: 0
}

.x .c1-3f {
    -webkit-margin-after: 0
}

.x .c1-3g {
    -webkit-padding-start: 0
}

.x .c1-3h {
    list-style-type: none
}

.x .c1-3j {
    line-height: 45px
}

.x .c1-3k:last-child {
    margin-bottom: 0px
}

.x .c1-3l {
    letter-spacing: 1px
}

.x .c1-3m {
    color: #757575
}

.x .c1-3n {
    color: inherit
}

.x .c1-3o {
    transition: transform .33s ease-in-out
}

.x .c1-3p {
    transform: rotate(0deg)
}

.x .c1-3q {
    position: fixed
}

.x .c1-3r {
    left: 320px
}

.x .c1-3s {
    background-color: rgb(246, 246, 246)
}

.x .c1-3t {
    overflow-x: hidden
}

.x .c1-3x {
    padding-left: 40px
}

.x .c1-3y {
    padding-right: 40px
}

.x .c1-3z {
    min-width: 180px
}

.x .c1-40 {
    align-items: center
}

.x .c1-41 {
    overflow: hidden
}

.x .c1-42 {
    color: rgb(87, 87, 87)
}

.x .c1-43 {
    display: block
}

.x .c1-44 {
    white-space: nowrap
}

.x .c1-45 {
    text-align: left
}

.x .c1-46 {
    line-height: 0
}

.x .c1-47>* {
    margin-left: 16px
}

.x .c1-48> :first-child {
    margin-left: 0px
}

.x .c1-49>span {
    margin-left: 10px
}

.x .c1-4l {
    height: auto
}

.x .c1-4m>div {
    display: flex
}

.x .c1-4n>div {
    flex-direction: column
}

.x .c1-4o>div {
    align-items: center
}

.x .c1-4p>div {
    flex: 1
}

.x .c1-4q {
    background-position: top
}

.x .c1-4r {
    background-size: auto, cover
}

.x .c1-4s {
    background-blend-mode: normal
}

.x .c1-4t {
    background-repeat: no-repeat
}

.x .c1-4u {
    flex: 1
}

.x .c1-4v {
    transition: opacity 0.25s, background-size 0.25s, background-position 0.25s
}

.x .c1-4w {
    background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.25) 0%, rgba(99, 99, 99, 0.25) 100%), url("http://localhost:8080/img/head.jpg")
}

.x .c1-4x {
    min-height: 500px
}

.x .c1-51 {
    padding-left: 24px
}

.x .c1-52 {
    padding-right: 24px
}

.x .c1-53 {
    background-color: transparent
}

.x .c1-55 {
    padding-top: 32px
}

.x .c1-56 {
    padding-bottom: 32px
}

.x .c1-58 {
    flex-grow: 0
}

.x .c1-59 {
    flex-basis: 30%
}

.x .c1-5a {
    color: rgb(247, 247, 247)
}

.x .c1-5b {
    justify-content: flex-start
}

.x .c1-5c:hover {
    color: rgb(137, 137, 137)
}

.x .c1-5e {
    vertical-align: top
}

.x .c1-5f:hover path:nth-child(3) {
    animation: swing-left 1.5s infinite
}

.x .c1-5g:hover path:nth-child(2) {
    animation: swing-left 1.5s infinite
}

.x .c1-5h:hover path:nth-child(2) {
    animation-delay: 0.3s
}

.x .c1-5i:hover path:nth-child(1) {
    animation: swing-left 1.5s infinite
}

.x .c1-5j:hover path:nth-child(1) {
    animation-delay: 0.6s
}

.x .c1-5k {
    text-align: center
}

.x .c1-5l {
    flex-basis: 40%
}

.x .c1-5m {
    color: rgb(137, 137, 137)
}

.x .c1-5n {
    justify-content: flex-end
}

.x .c1-5o {
    flex-basis: 20%
}

.x .c1-5p {
    box-sizing: border-box
}

.x .c1-5q {
    flex-direction: row
}

.x .c1-5r {
    flex-wrap: nowrap
}

.x .c1-5s {
    margin-right: -12px
}

.x .c1-5t {
    margin-left: -12px
}

.x .c1-5u {
    padding-top: 16px
}

.x .c1-5v {
    padding-bottom: 16px
}

.x .c1-5w {
    justify-content: left
}

.x .c1-62 {
    flex-shrink: 1
}

.x .c1-63 {
    flex-basis: 25%
}

.x .c1-64 {
    max-width: 25%
}

.x .c1-65 {
    padding-top: 0
}

.x .c1-66 {
    padding-right: 12px
}

.x .c1-67 {
    padding-bottom: 0
}

.x .c1-68 {
    padding-left: 12px
}

.x .c1-6d:hover {
    color: rgb(112, 112, 112)
}

.x .c1-6e {
    flex-basis: 50%
}

.x .c1-6f {
    max-width: 50%
}

.x .c1-6l {
    padding-top: 40px
}

.x .c1-6m {
    padding-bottom: 40px
}

.x .c1-6p {
    font-size: 32px
}

.x .c1-6s {
    overflow-y: auto
}

.x .c1-6t {
    padding-top: 56px
}

.x .c1-6u {
    -webkit-overflow-scrolling: touch
}

.x .c1-6v {
    transition: max-width .3s ease-in-out
}

.x .c1-6w {
    color: rgb(89, 89, 89)
}

.x .c1-6x {
    top: unset
}

.x .c1-6y {
    right: 0px
}

.x .c1-6z {
    font-size: 24px
}

.x .c1-70 {
    bottom: 80px
}

.x .c1-73 {
    top: 80px
}

.x .c1-74 {
    height: 65%
}

.x .c1-75 {
    border-color: rgba(185, 185, 185, 0.5)
}

.x .c1-76 {
    border-bottom-width: 0px
}

.x .c1-77 {
    border-bottom-style: solid
}

.x .c1-78:last-child {
    border-bottom: 0
}

.x .c1-79 {
    padding-top: 24px
}

.x .c1-7a {
    padding-bottom: 24px
}

.x .c1-7b {
    min-width: 200px
}

.x .c1-7c>div {
    letter-spacing: 2px !important
}

.x .c1-7d {
    line-height: 30px
}

.x .c1-7f>svg {
    position: absolute
}

.x .c1-7g>svg {
    right: -30px
}

.x .c1-7h>svg {
    top: 0px
}

.x .c1-7i>svg {
    bottom: 0px
}

.x .c1-7j>svg {
    margin-top: auto
}

.x .c1-7k>svg {
    margin-bottom: auto
}

.x .c1-7l {
    margin-left: 8px
}

.x .c1-7m {
    pointer-events: none
}

.x .c1-7n {
    margin-bottom: 56px
}

.x .c1-7o {
    letter-spacing: 3px
}

.x .c1-7p {
    text-transform: uppercase
}

.x .c1-7q {
    line-height: 1.4
}

.x .c1-7r {
    font-size: 14px
}

.x .c1-7x {
    flex-wrap: wrap
}

.x .c1-7y {
    flex-basis: 0%
}

.x .c1-85 {
    line-height: 1.5
}

.x .c1-86 {
    font-weight: regular
}

.x .c1-87 {
    padding-top: 8px
}

.x .c1-89 {
    font-size: unset
}

.x .c1-8a {
    font-style: italic
}

.x .c1-8b {
    text-decoration: line-through
}

.x .c1-8c {
    text-decoration: underline
}

.x .c1-8d {
    letter-spacing: unset
}

.x .c1-8e {
    text-transform: unset
}

.x .c1-8f>svg:nth-child(1) {
    animation: loaderscale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.x .c1-8g>svg:nth-child(2) {
    animation: loaderscale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.x .c1-8h>svg:nth-child(3) {
    animation: loaderscale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.x .c1-8i {
    top: 50%
}

.x .c1-8j {
    left: 50%
}

.x .c1-8k {
    transform: translate(-50%, -50%)
}

.x .c1-8l {
    width: 1em
}

.x .c1-8m {
    height: 1em
}

.x .c1-8n {
    color: rgb(169, 169, 169)
}

.x .c1-8o {
    margin-bottom: -24px
}

.x .c1-8t {
    padding-bottom: 56.25%
}

.x .c1-8u {
    bottom: 0
}

.x .c1-8v {
    color: rgb(164, 164, 164)
}

.x .c1-8w {
    margin-bottom: 32px
}

.x .c1-8z {
    border-style: solid
}

.x .c1-90 {
    border-color: rgb(218, 218, 218)
}

.x .c1-91 {
    border-top-width: 1px
}

.x .c1-92 {
    border-right-width: 1px
}

.x .c1-93 {
    border-bottom-width: 1px
}

.x .c1-94 {
    border-left-width: 1px
}

.x .c1-95 {
    margin-bottom: 24px
}

.x .c1-96 {
    font-size: 12px
}

.x .c1-97 {
    color: rgb(226, 226, 226)
}

.x .c1-98 {
    padding-bottom: 8px
}

.x .c1-99 {
    background-color: rgb(0, 0, 0)
}

.x .c1-9a {
    border-radius: 0
}

.x .c1-9b {
    border-color: rgb(226, 226, 226)
}

.x .c1-9c {
    border-top-width: 0
}

.x .c1-9d {
    border-right-width: 0
}

.x .c1-9e {
    border-left-width: 0
}

.x .c1-9f:hover {
    background-color: rgb(0, 0, 0)
}

.x .c1-9g:hover {
    color: rgb(226, 226, 226)
}

.x .c1-9h:hover {
    border-color: rgb(226, 226, 226)
}

.x .c1-9i:focus {
    outline: none
}

.x .c1-9j:active {
    background-color: rgb(87, 87, 87)
}

.x .c1-9o {
    line-height: 1.25
}

.x .c1-9p {
    margin-bottom: 16px
}

.x .c1-9t {
    margin-top: 8px
}